<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h1>Welcome to the Page</h1>
        <img src="/public/images/beer.png" alt="Beer Image">


<div>
    <img src="images/beer.png"/>
    <button id="all-beer"><a href="./beers">Check the Beers!</a></button>
<button id="random-beer"><a href="./random-beer">Check a Random Beer</a></button>
</div>


<div class="index-content">
    <img src="images/beer.png" id="home-beer-img"/>
</div>

<div id="home-buttons">
    <a href="./beers"><button class="btn btn-primary" type="button">Check a Random Beer</button>
 </a>
</div>
    </body>
</html>